.lor{
	background-color: lightgreen;
	width: 400px;
	padding-top: 
	margin:auto;
}

.in{
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
}

#marge{
	margin-top: 10px;
}